.catalog {
  padding: 85px 0 120px;

  @include vp-1023 {
    padding: 90px 0 100px;
  }

  @include vp-767 {
    padding: 54px 0 65px;
  }
}

.catalog__wrapper {
  h2 {
    font-family: $ff-montserrat;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin: 0 0 49px;
    text-align: center;

    @include vp-1023 {
      font-size: 26px;
      line-height: 39px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 31px;
    }
  }
}

.catalog__list {
  padding: 0;
  margin: 0 auto;
  max-width: 1130px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
    max-width: 648px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    max-width: 270px;
  }
}

.catalog__item {
  position: relative;
  background-color: $color-tangaroa;
}

.catalog__image img {
  display: block;
  width: 100%;
}

.catalog__item h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  font-family: $ff-montserrat;
  color: $color-alice-blue;
}

.catalog__image h3 {
  position: absolute;
  right: 0;
  bottom: 23px;
  left: 0;
  padding: 0 30px;

  @include vp-1023 {
    bottom: 27px;
    padding: 0 35px;
  }

  @include vp-767 {
    bottom: 17px;
    padding: 0 25px;
  }
}

.catalog__item-wrapper {
  position: absolute;
  z-index: 1;
  padding: 28px 23px;
  color: $color-quartz;
  background-color: $color-tangaroa;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  inset: 0;
  pointer-events: none;

  @include vp-1023 {
    padding: 28px 35px;
  }

  @include vp-767 {
    padding: 28px 25px;
  }
}

.catalog__item-wrapper h3 {
  margin-bottom: 14px;
  color: $color-alice-blue;
}

.catalog__description {
  height: 236px;
  margin-bottom: 5px;
  overflow: auto;
  font-size: 14px;
  line-height: 20px;
  font-family: $ff-montserrat;
  scrollbar-color: $color-default-white #808080;
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #808080;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border: 2px solid #808080;
    border-radius: 20px;
  }
}

.catalog__item-wrapper dl {
  margin: 0;
}

.catalog__item-wrapper dt {
  font-weight: 500;
  color: #d8d8d9;
}

.catalog__item-wrapper dd {
  margin: 0 0 12px;
  color: #f9fbfd;
}

.catalog__button {
  display: block;
  padding: 10px;
}

.catalog__item:focus-within .catalog__item-wrapper,
.catalog__item:hover .catalog__item-wrapper {
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
  opacity: 1;
  pointer-events: auto;
}
