.social {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px 26px;

  @include vp-1023 {
    grid-template-columns: 29px 29px 29px;
    gap: 2px;
  }

  @include vp-767 {
    gap: 7px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;

  @include vp-1023 {
    width: 16px;
    height: 16px;
  }

  &:hover {
    opacity: 0.8;
  }
}
